@model ShampanPOS.Models.SaleReportVM
@{
    ViewBag.Title = "Sale vs SaleReturn Report";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header">

    <div class="container-fluid">

        <div class="row mb-2">

            <div class="col-sm-6">

                <h1 class="m-0">Sale vs Sale Return Report</h1>

            </div>

            <div class="col-sm-6">

                <ol class="breadcrumb float-sm-right">

                    <li id="btnBack">

                        <img src="~/Content/css/ButtonsIcons/back-icon.png" title="Go Back" />

                    </li>

                </ol>

            </div>

        </div>

    </div>

</div>



<div class="container-fluid">

    <div class="card">

        <div class="card-body p-2">

            <div class="form-group row">



                <!-- Customer -->

                <div class="col-sm-2">

                    <label>Customer</label>

                    <div class="input-group input-group-sm">

                        <input type="text" id="CustomerName" class="form-control" placeholder="Select Customer" />

                        <input type="hidden" id="CustomerId" />

                        <div class="input-group-append">

                            <button type="button" class="btn btn-warning" onclick="ClearCustomer()">✖</button>

                            <button type="button" id="btnCustomerSearch" class="btn btn-primary">

                                <i class="fa fa-search"></i>

                            </button>

                        </div>

                    </div>

                </div>

                <div class="col-sm-2">
                    <label>Product</label>

                    <div class="input-group input-group-sm">

                        <input type="text"
                               id="ProductName"
                               class="form-control"
                               placeholder="Select Product"
                               readonly />

                        <input type="hidden" id="ProductId" />

                        <div class="input-group-append">

                            <button type="button"
                                    id="btnClearProduct"
                                    class="btn btn-warning"
                                    onclick="ClearProduct()">
                                ✖
                            </button>

                            <button type="button"
                                    id="btnProductSearch"
                                    class="btn btn-primary">
                                <i class="fa fa-search"></i>
                            </button>

                        </div>

                    </div>
                </div>


                <!-- From Date -->

                <div class="col-sm-2">

                    <label>From Date</label>

                    <div class="d-flex align-items-center">

                        <input type="text" id="FromDate" class="form-control form-control-sm kendoDatePicker" />

                        <input type="checkbox" id="chkFromDate" style="margin-left:6px;" />

                    </div>

                </div>



                <!-- To Date -->

                <div class="col-sm-2">

                    <label>To Date</label>

                    <div class="d-flex align-items-center">

                        <input type="text" id="ToDate" class="form-control form-control-sm kendoDatePicker" />

                        <input type="checkbox" id="chkToDate" style="margin-left:6px;" />

                    </div>

                </div>



                <!-- Summary Toggle -->
                <div class="col-sm-2 d-flex flex-column">
                    <label>Summary</label>
                    <div class="Onoffbtn">
                        <div class="input-group" style="width:78%;">
                            <input type="hidden" name="IsSummary" value="false" />
                            <input id="IsSummary" name="IsSummary" type="checkbox" value="true"
                                   data-bootstrap-switch
                                   data-off-color="danger" data-on-color="success"
                                   data-on-text="True" data-off-text="False" />
                        </div>
                    </div>
                </div>

                <!-- Report Type (only needed when neither Product nor Customer selected, in Summary mode) -->
                <div class="col-sm-2" id="reportTypeWrapper" style="display:none;">
                    <label>Report Type</label>
                    <select id="ReportType" class="form-control form-control-sm">
                        <option value="">-- Select --</option>
                        <option value="1">Product Wise</option>
                        <option value="2">Customer Wise</option>
                    </select>
                </div>



                <!-- Print Button -->

                <div class="col-sm-2 pt-4">

                    <button type="button" class="btn btn-success btn-sm"
                            onclick="PrintSalevsSaleReturnReport()">

                        <i class="fas fa-print"></i> Print

                    </button>

                </div>



            </div>

        </div>

    </div>

</div>



<!-- Customer Popup Window -->

<div id="customerWindow" style="display:none; padding:10px;">

    <div style="margin-bottom:10px;">

        <input id="CustomerGroupFilter" style="width:100%;" />

    </div>

    <div id="customerGrid"></div>

</div>

<div id="ProductWindow" style="display:none; padding:10px;">

    <div style="display:flex; gap:10px; margin-bottom:10px;">
        <input id="ProductGroupId" style="width:35%;" placeholder="Group" />
        <input id="FilterProductCode" class="k-filter-input" style="width:20%;" placeholder="Product Code" />
        <input id="FilterProductName" class="k-filter-input" style="width:45%;" placeholder="Product Name" />
    </div>

    <div id="productDetailsGrid"></div>

</div>


@section scripts {

    <script src="~/Areas/Common/js/Services/CommonService.js"></script>

    <script src="~/Areas/Common/js/Services/CommonAjaxService.js"></script>

    <script>

    $(document).ready(function () {



        $("[data-bootstrap-switch]").bootstrapSwitch();
        toggleReportTypeVisibility();



        // Date Pickers

        $("#FromDate").kendoDatePicker({ format: "yyyy-MM-dd" });

        $("#ToDate").kendoDatePicker({ format: "yyyy-MM-dd" });



        var currentDate = new Date();

        $("#FromDate").data("kendoDatePicker").value(currentDate);

        $("#ToDate").data("kendoDatePicker").value(currentDate);



        // Date validation

        var fromPicker = $("#FromDate").data("kendoDatePicker");

        var toPicker = $("#ToDate").data("kendoDatePicker");



        fromPicker.bind("change", function () {

            var from = fromPicker.value(), to = toPicker.value();

            if (from) toPicker.min(from);

            if (from && to && from > to) {

                toPicker.value(from);

                ShowNotification(3, "From Date cannot be greater than To Date");

            }

        });



        toPicker.bind("change", function () {

            var from = fromPicker.value(), to = toPicker.value();

            if (to) fromPicker.max(to);

            if (from && to && from > to) {

                fromPicker.value(to);

                ShowNotification(3, "From Date cannot be greater than To Date");

            }

        });



        // Checkbox toggles

        $("#chkFromDate").change(function () {

            $("#FromDate").data("kendoDatePicker").enable(this.checked);

            if (!this.checked)

                $("#ToDate").data("kendoDatePicker").min(new Date(1900, 0, 1));

        });



        $("#chkToDate").change(function () {

            $("#ToDate").data("kendoDatePicker").enable(this.checked);

            if (!this.checked)

                $("#FromDate").data("kendoDatePicker").max(new Date(2099, 11, 31));

        });

    });



    // =====================

    // Customer Popup

    // =====================

    $("#btnCustomerSearch").on("click", function () { OpenCustomerPopup(); });



    function OpenCustomerPopup() {

        var wnd = $("#customerWindow").data("kendoWindow");

        if (!wnd) {

            $("#customerWindow").kendoWindow({

                width: "700px", height: "450px",

                title: "Select Customer", modal: true, visible: false

            });

            wnd = $("#customerWindow").data("kendoWindow");

        }

        wnd.center().open();

        LoadCustomerGroupCombo();



        $("#customerGrid").kendoGrid({

            dataSource: {

                transport: { read: { url: "/Common/Common/GetCustomerModal", dataType: "json" } }

            },

            height: 350, sortable: true, filterable: true, pageable: true, selectable: "row",

            columns: [

                { field: "Code", title: "Code", width: "120px" },

                { field: "Name", title: "Name", width: "200px" },

                { field: "CustomerGroupName", title: "Group", width: "150px" }

            ]

        });



        $("#customerGrid").off("dblclick").on("dblclick", "tr", function () {

            var grid = $("#customerGrid").data("kendoGrid");

            var item = grid.dataItem($(this));

            ApplyCustomerSelection(item);

            wnd.close();

        });

    }



    function LoadCustomerGroupCombo() {

        $.getJSON("/Common/Common/GetCustomerModal", function (data) {

            var groupMap = {};

            $.each(data, function (_, item) {

                if (item.CustomerGroupId && item.CustomerGroupName && !groupMap[item.CustomerGroupId])

                    groupMap[item.CustomerGroupId] = { Id: item.CustomerGroupId, Name: item.CustomerGroupName };

            });

            var existing = $("#CustomerGroupFilter").data("kendoComboBox");

            if (existing) existing.destroy();

            $("#CustomerGroupFilter").kendoComboBox({

                dataTextField: "Name", dataValueField: "Id",

                placeholder: "Filter by Group", filter: "contains",

                dataSource: Object.values(groupMap),

                change: applyCustomerGroupFilter, select: applyCustomerGroupFilter

            });

        });

    }



    function applyCustomerGroupFilter() {

        var groupId = $("#CustomerGroupFilter").data("kendoComboBox").value();

        var grid = $("#customerGrid").data("kendoGrid");

        if (!grid) return;

        if (!groupId) { grid.dataSource.filter([]); return; }

        grid.dataSource.filter({ field: "CustomerGroupId", operator: "eq", value: parseInt(groupId) });

    }


        function ApplyCustomerSelection(item) {
            $("#CustomerId").val(item.Id);
            $("#CustomerName").val(item.Code + " - " + item.Name);
            toggleReportTypeVisibility();
        }


        function ClearCustomer() {
            $("#CustomerId").val("");
            $("#CustomerName").val("");
            toggleReportTypeVisibility();
        }
        //Product
        $("#btnProductSearch").on("click", function () {
            OpenProductPopup(null);
        });

        function OpenProductPopup(detailRow) {

            var wnd = $("#ProductWindow").data("kendoWindow");

            if (!wnd) {
                $("#ProductWindow").kendoWindow({
                    width: "700px",
                    height: "500px",
                    title: "Select Product",
                    modal: true,
                    visible: false
                });
                wnd = $("#ProductWindow").data("kendoWindow");
            }

            wnd.center().open();

            // Clear previous filters
            $("#FilterProductCode").val("");
            $("#FilterProductName").val("");

            // Load Product Group Combo
            GetProductGroupComboBox();

            // Rebuild Grid
            $("#productDetailsGrid").empty();

            $("#productDetailsGrid").kendoGrid({

                dataSource: {
                    transport: {
                        read: {
                            url: "/Common/Common/GetProductModal",
                            dataType: "json"
                        }
                    },
                    pageSize: 10
                },

                pageable: true,
                filterable: true,
                selectable: "row",
                //toolbar: ["search"],
                searchable: true,


                columns: [
                    { field: "ProductId", hidden: true },
                    { field: "ProductCode", title: "Product Code" },
                    { field: "ProductName", title: "Product Name" },
                    { field: "UOMName", title: "UOM" },
                    { field: "ProductGroupName", title: "Group" },
                    { field: "PurchasePrice", title: "Price" }
                ]

            });

            // Product Code Search
            $("#FilterProductCode")
                .off("input")
                .on("input", function () {
                    applyProductGroupFilter();
                });

            // Product Name Search
            $("#FilterProductName")
                .off("input")
                .on("input", function () {
                    applyProductGroupFilter();
                });

            // Select Product
            $("#productDetailsGrid")
                .off("dblclick")
                .on("dblclick", "tr", function () {

                    var grid = $("#productDetailsGrid").data("kendoGrid");
                    var item = grid.dataItem($(this));

                    if (!item) return;

                    ApplyProductSelection(detailRow, item);

                    wnd.close();
                });
        }

        function LoadItemsGrid() {
            $("#items").kendoListView({
                dataSource: {
                    transport: {
                        read: {
                            url: "/Common/Common/GetProductModal",
                            dataType: "json"
                        }
                    }
                },

                template: `
        <div class="item-card">

            <h5>#: Name #</h5>

            <div class="item-image">
                <img src="#: Image #" alt="#: Name #" />
            </div>

            <div class="item-info">
                <div><b>UOM:</b> #: UomName #</div>
                <div><b>Cost:</b> #: kendo.toString(PurchasePrice,'n2') #</div>
                <div><b>VAT:</b> #: VATRate # %</div>
                <div><b>SD:</b> #: SDRate # %</div>
            </div>


            <div class="card-actions">
                <input type='number' class='qty' value='1' min='1' />
                <button class='addToCart'
                        data-id='#: Id #'
                        data-code='#: Code #'
                        data-name='#: Name #'
                        data-uom='#: UomName #'
                        data-uomid='#: UomId #'
                        data-price='#: PurchasePrice #'
                        data-vat='#: VATRate #'
                        data-sd='#: SDRate #'>
                    Add
                </button>
            </div>

        </div>
        `,

                dataBound: function () {
                    $(".addToCart").off("click").on("click", function () {

                        var item = {
                            Id: $(this).data("id"),
                            Code: $(this).data("code"),
                            Name: $(this).data("name"),
                            UomId: $(this).data("uomid"),
                            UomName: $(this).data("uom"),
                            PurchasePrice: $(this).data("price"),
                            VATRate: $(this).data("vat"),
                            SDRate: $(this).data("sd"),
                            Quantity: $(this).closest(".item-card").find(".qty").val()
                        };

                        AddItemToSaleDetails(item);
                    });
                }
            });
        }


        function AddItemToSaleDetails(item) {

            var grid = $("#saleDetails").data("kendoGrid");

            var detailRow = grid.dataSource.add({
                ProductId: item.Id,
                ProductCode: item.Code,
                ProductName: item.Name,
                UOMId: item.UomId,
                UOMName: item.UomName,
                Quantity: parseFloat(item.Quantity),
                UnitRate: parseFloat(item.PurchasePrice),
                VATRate: item.VATRate || 0,
                SD: item.SD || 0
            });

            var qty = detailRow.Quantity || 0;
            var unit = detailRow.UnitRate || 0;
            var sdRate = detailRow.SD || 0;
            var vatRate = detailRow.VATRate || 0;

            var subTotal = qty * unit;
            detailRow.set("SubTotal", subTotal);

            var sdAmount = (subTotal * sdRate) / 100;
            detailRow.set("SDAmount", sdAmount);

            var vatAmount = ((subTotal + sdAmount) * vatRate) / 100;
            detailRow.set("VATAmount", vatAmount);

            var total = subTotal + sdAmount + vatAmount;
            detailRow.set("LineTotal", total);

            grid.refresh();
        }

        function ApplyProductSelection(detailRow, item) {

            console.log(item);

            // ✅ MASTER FIELD CASE
            if (!detailRow) {
                $("#ProductId").val(item.ProductId);
                $("#ProductName").val(item.ProductName);
                return;
            }

            // ✅ DETAILS GRID CASE
            detailRow.set("ProductId", item.ProductId);
            detailRow.set("ProductCode", item.ProductCode);
            detailRow.set("ProductName", item.ProductName);

            detailRow.set("UOMId", item.UOMId);
            detailRow.set("UOMName", item.UOMName);

            detailRow.set("UnitRate", item.PurchasePrice);

            detailRow.set("VATRate", item.VATRate);
            detailRow.set("SD", item.SDRate);

            if (!detailRow.Quantity || detailRow.Quantity <= 0) {
                detailRow.set("Quantity", 1);
            }

            var subTotal = detailRow.Quantity * item.PurchasePrice;
            detailRow.set("SubTotal", subTotal);

            var sdAmt = (subTotal * (item.SDRate || 0)) / 100;
            detailRow.set("SDAmount", sdAmt);

            var vatAmt = ((subTotal + sdAmt) * (item.VATRate || 0)) / 100;
            detailRow.set("VATAmount", vatAmt);

            detailRow.set("LineTotal", subTotal + sdAmt + vatAmt);
        }


        function GetProductGroupComboBox() {

            $("#ProductGroupId").kendoMultiColumnComboBox({
                dataTextField: "Name",
                dataValueField: "Id",
                height: 300,

                columns: [
                    { field: "Code", title: "Code", width: 130 },
                    { field: "Name", title: "Name", width: 150 }
                ],

                filter: "contains",
                filterFields: ["Code", "Name"],

                dataSource: {
                    transport: {
                        read: "/Common/Common/GetProductGroupList"
                    }
                },

                placeholder: "Select Product Group",

                change: function () {
                    applyProductGroupFilter();
                }
            });
        }

        function applyProductGroupFilter() {
            debugger;
            var combo = $("#ProductGroupId").data("kendoMultiColumnComboBox");
            var groupId = combo ? combo.value() : "";

            var productCode = $("#FilterProductCode").val().trim();
            var productName = $("#FilterProductName").val().trim();

            var grid = $("#productDetailsGrid").data("kendoGrid");

            if (!grid) return;

            var filters = [];

            // Product Group
            if (groupId && groupId !== "") {
                filters.push({
                    field: "ProductGroupId",
                    operator: "eq",
                    value: parseInt(groupId)
                });
            }

            // Product Code
            if (productCode && productCode.trim().length >= 3) {
                filters.push({
                    field: "ProductCode",
                    operator: "contains",
                    value: productCode.trim()
                });
            }

            // Product Name
            if (productName && productName.trim().length >= 3) {
                filters.push({
                    field: "ProductName",
                    operator: "contains",
                    value: productName.trim()
                });
            }

            if (filters.length > 0) {
                grid.dataSource.filter({
                    logic: "and",
                    filters: filters
                });
            } else {
                grid.dataSource.filter({});
            }
        }




    // =====================

    // Print

    // =====================
    function PrintSalevsSaleReturnReport() {

    var customerId   = $("#CustomerId").val() || 0;
    var customerName = $("#CustomerName").val() || "";
    var productId = $("#ProductId").val() || 0;
    var productName = $("#ProductName").val() || "";
    var saleReturnId = $("#SaleReturnId").val() || 0;
    var saleId = $("#SaleId").val() || 0;

    var isSummary    = $("#IsSummary").is(":checked");
    var reportType   = $("#ReportType").val() || "";

    var fromDate     = $("#chkFromDate").is(":checked") ? $("#FromDate").val() : "";
    var toDate       = $("#chkToDate").is(":checked") ? $("#ToDate").val() : "";

    // VALIDATION: Summary mode + neither Product nor Customer selected => ReportType required
    if (isSummary && parseInt(customerId) <= 0 && parseInt(productId) <= 0 && !reportType) {
        ShowNotification(3, "Please select Report Type: Product Wise or Customer Wise.");
        return;
    }

    var url = '@Url.Action("SalevsSaleReturnReportList", "Sale", new { area = "DMS" })'
        + '?customerId='   + customerId
        + '&customerName=' + encodeURIComponent(customerName)
        + '&productId=' + productId
        + '&productName=' + encodeURIComponent(productName)
        + '&saleId=' + saleId
        + '&saleReturnId=' + saleReturnId
        + '&fromDate='     + fromDate
        + '&toDate='       + toDate
        + '&isSummary='    + isSummary
        + '&reportType='   + reportType;

    window.open(url, "_blank");
}

// Show/hide Report Type dropdown based on selections
function toggleReportTypeVisibility() {
    var isSummary = $("#IsSummary").is(":checked");
    var hasProduct = parseInt($("#ProductId").val() || 0) > 0;
    var hasCustomer = parseInt($("#CustomerId").val() || 0) > 0;

    if (isSummary && !hasProduct && !hasCustomer) {
        $("#reportTypeWrapper").show();
    } else {
        $("#reportTypeWrapper").hide();
        $("#ReportType").val("");
    }
}

        $(document).on("switchChange.bootstrapSwitch change", "#IsSummary", toggleReportTypeVisibility);
    </script>

}
